<div class="card" style="width: 18rem;">
    <img src="~/images/news/technews.jpeg" class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title">Meta Reveals Twitter Competitor Planned as Stand-Alone App</h5>
        <p class="card-text">Separately, Chief Executive Mark Zuckerberg criticized Apple’s Vision Pro headset, saying Meta has tried to make products affordable.</p>
        <a href="#" class="btn btn-primary">Go the news</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="~/images/news/technews.jpeg" class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title">Google to Launch News Showcase in the U.S. This Summer</h5>
        <p class="card-text">The company said the long-delayed product would pay more than 150 U.S. news publications to feature their content.</p>
        <a href="#" class="btn btn-primary">Go the news</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="~/images/news/technews.jpeg" class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title">If You’re Compulsively Checking Air Quality, Use These Apps</h5>
        <p class="card-text">These tools help you stay updated on your area’s AQI and know when it’s safer to go outside.</p>
        <a href="#" class="btn btn-primary">Go the news</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="~/images/news/technews.jpeg" class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title">DocuSign Shares Climb With Turnaround Efforts Under Way</h5>
        <p class="card-text">The e-signature company has cut jobs and changed leadership in response to slower growth.</p>
        <a href="#" class="btn btn-primary">Go the news</a>
    </div>
</div>

