@model List<string>

<div class="p-4">
    <h4 class="fst-italic">Archives</h4>
    <ol class="list-unstyled mb-0">
        @foreach (var item in Model)
        {
            <li><a href="#">@item</a></li>

        }

    </ol>
</div>